.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
  // outline: 2px solid red;
  // outline-offset: -2px;
  @include media-min(mobile) {
    width: 375px;
  }

  @include media-min(tablet) {
    width: 768px;
  }

  @include media-min(laptop) {
    width: 1024px;
  }

  @include media-min(desktop) {
    width: 1440px;
  }

  @include media-min(fullHD) {
    width: 1920px;
  }
}

// section {
//   outline: 2px solid rgb(4, 255, 88);
//   outline-offset: -2px;
// }
