@mixin main-font(
  $weight: 350,
  $size: 16px,
  $height: 1.2,
  $letter: 0.04em,
  $style: normal,
  $transform: none
) {
  font-family: 'Bahnschrift', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $letter;
  font-style: $style;
  text-transform: $transform;
}

@mixin accent-font(
  $weight: 400,
  $size: 16px,
  $height: 1.2,
  $letter: 0.04em,
  $style: normal,
  $transform: none
) {
  font-family: 'Kharkiv Tone', sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  letter-spacing: $letter;
  font-style: $style;
  text-transform: $transform;
}
