<section class="benefits">
  <div class="container">
    <h2 class="benefits-title section-title">Our services</h2>
    <svg
      class="left-decor"
      width="412"
      height="1065"
      viewBox="0 0 412 1065"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        y="1065"
        width="1053"
        height="12"
        transform="rotate(-90 0 1065)"
        fill="#E0F4F5"
      />
      <rect width="412" height="12" fill="#E0F4F5" />
    </svg>
    <svg
      class="right-decor"
      width="412"
      height="1065"
      viewBox="0 0 412 1065"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <rect
        x="400"
        y="1053"
        width="1053"
        height="12"
        transform="rotate(-90 400 1053)"
        fill="#015366"
      />
      <rect y="1053" width="412" height="12" fill="#015366" />
    </svg>

    <ul class="benefits-list">
      <li class="benefits-list__item benefit">
        <svg class="benefit-icon" width="75" height="75">
          <use href="./assets/images/svg/sprite.svg#icon-design"></use>
        </svg>

        <div class="benefit-wrapper">
          <h3 class="benefit-title">Design</h3>
          <p class="benefit-desc">
            We will create for you any design according to your preferences, so
            that the client has an unforgettable impression and desire to stay
            on your landing page, website, webservice or mobile app.
          </p>
        </div>
      </li>
      <li class="benefits-list__item benefit">
        <svg class="benefit-icon" width="75" height="75">
          <use href="./assets/images/svg/sprite.svg#icon-development"></use>
        </svg>
        <div class="benefit-wrapper">
          <h3 class="benefit-title">Development</h3>
          <p class="benefit-desc">
            Your product will be developed by the latest technology for good
            device support. We will make this product not only convenient, but
            also fast.
          </p>
        </div>
      </li>
      <li class="benefits-list__item benefit">
        <div class="icon-wrapper">
          <svg class="benefit-icon" width="75" height="75">
            <use href="./assets/images/svg/sprite.svg#icon-maintenance"></use>
          </svg>
        </div>
        <div class="benefit-wrapper">
          <h3 class="benefit-title">Maintenance</h3>
          <p class="benefit-desc">
            After release we will stay with you to support your product, make it
            more functional and visible in search engines. If you want to change
            something or you will have a question, you can always contact us.
          </p>
        </div>
      </li>
      <li class="benefits-list__item benefit">
        <svg class="benefit-icon" width="75" height="75">
          <use href="./assets/images/svg/sprite.svg#icon-design"></use>
        </svg>
        <div class="benefit-wrapper">
          <h3 class="benefit-title">Target advertising</h3>
          <p class="benefit-desc">
            After release we will stay with you to support your product, make it
            more functional and visible in search engines. If you want to change
            something or you will have a question, you can always contact us.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
