<div class="contact-backdrop backdrop--is-hidden" data-contact-modal>
  <div class="login-box">
    <h2>Залиште свої контактні дані</h2>
    <form>
      <div class="user-box">
        <input type="text" name="" required="" />
        <label>Ім'я</label>
      </div>
      <div class="user-box">
        <input type="email" name="" required="" />
        <label>Телефон</label>
      </div>
      <a href="#">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Submit
      </a>
    </form>
  </div>
</div>
