<header class="header">
  <div class="container">
    <a href="/" class="logo-link"
      ><svg class="logo-icon" width="42" height="25">
        <use href="./assets/images/svg/sprite.svg#icon-logo-2"></use></svg
    ></a>
    <nav class="headerNav">
      <a class="headerNav-link" href="/"> About </a>
      <a class="headerNav-link" href="/"> Portfolio </a>
      <a class="headerNav-link" href="/"> Prices </a>
      <a class="headerNav-link" href="/"> Contacts </a>
    </nav>
    <div class="langBtnWrapper">
      <button class="langBtn langBtn--active">EN</button>
      <button class="langBtn">UA</button>
    </div>
  </div>
</header>
