<header class="header">
  <div class="container">
    <svg class="logo" width="42" height="25">
      <use href="./assets/images/svg/sprite.svg#icon-logo-2"></use>
    </svg>
    <nav class="headerNav">
      <a class="link" href="/"> About </a>
      <a class="link" href="/"> Portfolio </a>
      <a class="link" href="/"> Prices </a>
      <a class="link" href="/"> Contacts </a>
    </nav>
    <div class="langBtnWrapper">
      <button class="langBtn">EN</button>
      <button class="langBtn">UA</button>
    </div>
  </div>
</header>
