<section class="hero">
  <div class="container">
    <h1 class="hero-title">DevCore</h1>
    <p class="hero-desc">
      Transform your online presence into a lead-generating machine with our
      expert website development
    </p>
    <button class="contact-btn">Contact us</button>
    <svg
      class="hero-svg"
      xmlns="http://www.w3.org/2000/svg"
      width="300"
      height="260"
      viewBox="0 0 904 787"
      fill="none"
    >
      <path
        id="square"
        class="rotate"
        d="M456.564 559.891L592.687 422.367L456.564 284.843L320.44 422.367L456.564 559.891Z"
        fill="#020F13"
      />
      <path
        id="left-part"
        class="slide-in-left"
        d="M29.7908 423.83L384.609 782.299V625.945L184.552 423.83L384.609 221.714V65.361L29.7908 423.83Z"
        fill="#020F13"
      />
      <path
        class="slide-in-right"
        id="right-part"
        d="M524.272 60.6595L883.744 423.83L524.272 787V630.647L728.982 423.83L524.272 217.013V60.6595Z"
        fill="#020F13"
      />
    </svg>
  </div>
  <!-- <div class="network-animation"></div> -->
</section>
