<section class="products">
  <div class="container">
    <h2 class="products-title section-title">Our products</h2>
    <div class="products-slider">
      <div class="product-slide">
        <div class="productSlide-wrapper-top">
          <h4 class="product-title">Landing page</h4>
        </div>
        <ul class="product-features">
          <li class="product-features__item">1 Page</li>
          <li class="product-features__item">Full design</li>
          <li class="product-features__item">Copywriting and content</li>
          <li class="product-features__item">Adaptive design</li>
          <li class="product-features__item">SEO</li>
          <li class="product-features__item">Support and maintenance</li>
        </ul>
        <p class="product-price">from 100$</p>
        <button class="order-productBtn" type="button">ORDER NOW</button>
        <ul class="socials">
          <li class="socials-item">
            <svg class="socials-item__icon" width="24" height="24">
              <use href="./assets/images/svg/sprite.svg#icon-telegram"></use>
            </svg>
            <!-- оформить правильно єти ссілки -->
            <a class="socials-item__desc" href="#">Telegram</a>
          </li>

          <li class="socials-item">
            <svg class="socials-item__icon" width="24" height="24">
              <use href="./assets/images/svg/sprite.svg#icon-phone"></use>
            </svg>
            <a class="socials-item__desc" href="tel:+380505055861"
              >+38 050 505 58 61</a
            >
          </li>
        </ul>
        <div class="slide-wrapper-bottom">
          <a href="#" class="slide-wrapper-bottom__link">See datails</a>
        </div>
      </div>
    </div>
  </div>
</section>
