<section class="projects">
  <div class="container">
    <h2 class="projects-title section-title">Our projects</h2>
    <div class="split-slideshow">
      <div class="slideshow">
        <div class="slider">
          <div class="item">
            <img
              class="slider-item-img"
              width="300px"
              src="./assets/images/1.jpg"
            />
          </div>
          <div class="item">
            <img
              lass="slider-item-img"
              width="300px"
              src="./assets/images/2.jpg"
            />
          </div>
          <div class="item">
            <img
              lass="slider-item-img"
              width="300px"
              src="./assets/images/3.jpg"
            />
          </div>
          <div class="item">
            <img
              lass="slider-item-img"
              width="300px"
              src="./assets/images/1.jpg"
            />
          </div>
        </div>
      </div>
      <!-- <div class="slideshow-text">
        <div class="item">Canyon</div>
        <div class="item">Desert</div>
        <div class="item">Erosion</div>
        <div class="item">Shape</div>
      </div> -->
    </div>
  </div>
</section>
