.hero {
  height: 330px;
  text-align: center;
  position: relative;
  padding-top: 50px;
  @include media-min(tablet) {
    height: 440px;
  }
  @include media-min(laptop) {
    height: 710px;
  }
  @include media-min(desktop) {
    height: 1135px;
  }
  @include media-min(fullHD) {
    height: 1300px;
  }
}

.hero .conatiner {
  z-index: 100;
}

.hero-svg {
  opacity: 0.5;
  position: absolute;
  top: -5%;
  left: 50%;
  transform: translate(-50%);

  @media screen and (min-width: 475px) {
    width: 400px;
    height: auto;
  }

  @include media-min(tablet) {
    top: -55px;
    width: 450px;
    height: 390px;
  }
  @include media-min(laptop) {
    top: -69px;
    width: 675px;
    height: 585px;
  }
  @include media-min(desktop) {
    top: -100px;
    width: 1080px;
    height: 935px;
  }
  @include media-min(fullHD) {
    top: -130px;
    width: 1296px;
    height: 1020px;
  }
}

.hero-title {
  color: #fff;

  font-family: Venryn Sans;
  font-size: 26px;
  font-weight: 600;
  position: absolute;
  top: 21%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;

  @media screen and (min-width: 475px) {
    font-size: 32px;
    top: 27%;
  }

  @include media-min(tablet) {
    font-size: 36px;
    top: 15%;
  }
  @include media-min(laptop) {
    font-size: 54px;
    top: 16%;
  }
  @include media-min(desktop) {
    font-size: 81px;
    top: 17%;
  }
  @include media-min(fullHD) {
    font-size: 97px;
    top: 14%;
  }
}

.hero-desc {
  color: #fff;
  font-family: Sabir Mono;
  font-size: 10px;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  width: 220px;

  @media screen and (min-width: 475px) {
    font-size: 14px;
    width: 305px;
    top: 51%;
  }

  @include media-min(tablet) {
    font-size: 11px;
    top: 35%;
    width: 240px;
  }

  @include media-min(laptop) {
    width: 370px;
    font-size: 17px;
    top: 35%;
  }
  @include media-min(desktop) {
    width: 565px;
    font-size: 26px;
    top: 36%;
  }

  @include media-min(fullHD) {
    width: 825px;
    font-size: 31px;
    top: 33%;
  }
}

.contact-btn {
  padding: 4px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 67px;
  border: 1px solid #fff;
  position: absolute;
  top: 64%;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  width: 65px;
  height: 20px;
  font-size: 7px;
  background-color: transparent;
  color: #fff;

  @media screen and (min-width: 475px) {
    font-size: 9px;
    width: 77px;
    height: 24px;
    top: 89%;
  }

  @include media-min(tablet) {
    width: 98px;
    height: 30px;
    font-size: 11px;
    top: 65%;
  }
  @include media-min(laptop) {
    width: 150px;
    height: 45px;
    font-size: 17px;
    top: 62%;
  }
  @include media-min(desktop) {
    width: 225px;
    height: 68px;
    font-size: 26px;
    top: 66%;
  }

  @include media-min(fullHD) {
    width: 275px;
    height: 98px;
    font-size: 31px;
    top: 57%;
  }
}

// animation
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-300%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(300%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.rotate {
  animation: rotate 2s linear forwards;
}

.slide-in-left,
.slide-in-right {
  opacity: 0;
  animation-fill-mode: forwards;
}

.slide-in-left {
  animation: slideInLeft 2s ease-in-out forwards 2s;
}

.slide-in-right {
  animation: slideInRight 2s ease-in-out forwards 2s;
}

.network-animation {
  height: 400px;
  width: 100%;
  position: absolute;
  bottom: 0;
}
