.projects .container {
  position: relative;
}

.projects {
  background: radial-gradient(
    85.37% 120.12% at 50.04% -11.47%,
    #014959 0%,
    #000c0f 100%
  );
}

.projects-title {
  display: block;
  color: #fff;
}
